.video-section{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.top-details-movie h6{
    font-size: 2.8rem;
}
.top-details-movie{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.trailer-movie embed{
    display: flex;
    justify-content: center;
    width: 100rem;
    height: 50rem;   
    gap: 2rem;
}

.details-movie-page{
    margin-top: 4rem;
    width: 100rem;
    height: 60rem;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}

.details-tile{
    /* background-color: blueviolet; */
    padding: 2rem 0rem;
    padding-left: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

}
.details-box-grid {
    grid-template-columns: 2fr 1fr;
    margin-top: 2rem;
    height: 50rem;
    column-gap: 2rem;
    margin: 2rem;
}


.details-movie-main{
    display: flex;
    flex-direction: column;
    

}

.details-movie-main .row{
    /* background-color: orange; */
    padding: 1rem;
    margin: 0rem 2rem 0rem 2rem;
    margin-top: 2rem;
}
.details-first-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    

}
.details-first-child{
    column-gap: 2rem;
    row-gap: 2rem;
}
.details-mini-box{
    display: flex;
    align-items: center;
  
}
.details-mini-box div{
    margin-left: 0.5rem;
}
.details-mini-box{

    font-size: 1.8rem;
}
.description {
 
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-column: 1/-1;
    line-height: 1.1;
    font-size: 1.4rem;
    color: #fff;
}
.first-child div{

    background-color:bisque;
}
.details-mini-box{
    color: #fff;
}
.icon-details  {
    font-size: 3.2rem;
}
.details-mini-box-title{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}
.details-last-child div{
    color: #fff;

    font-size: 1.4rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(41, 41, 41);
}
.photo{
   display: flex;
   align-items: center;
}

.get-reservation{
    background-color: #fff;
    padding: 10rem;
}

.movies{
    padding: 4rem;
}






.movie-container{

    grid-template-rows: repeat(3,1fr);
    height: 70rem;
    /* background-color: aqua; */
    column-gap: 2rem;
    row-gap: 2rem;
}

.movie-items{
    /* background-color: orange; */
    height: 30rem;
}

.footer-container{
    display: block;
}

.btn-hour{
    margin-left: 1rem;
}